body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    flex-grow: 1;
    background-color: blueviolet;

}
.container{
    display:flex;
   
    flex-wrap: wrap;
    
}
.items{
    flex: 0 0 300px;
    background-color: burlywood;
    border: 2px solid blueviolet;
}



